.root {
  width: 395px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  margin-top: 21px;
}

.description {
  font-size: 14px;
  color: #666666;
  margin-top: 5px;
  line-height: 18px;
}


.content {
  margin-top: 5px;
}