.cat {
  background: #b79af2;
  z-index: 0;
  -webkit-transition: all linear 1s;
  position: relative;
  height: 65px;
  width: 60px;

  &:before, &:after {
    width: 0;
    height: 0;
    top: -10px;
    position: absolute;
    content: "";
  }

  &:before{
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #b79af2;
    left: 0;
  }

  &:after{
    border-right: 0px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #b79af2;
    right: 0;
  }

  .eyes{
    position: absolute;
    height: 8px;
    width: 8px;
    background: #7743de;
    border-radius: 100%;
    top: 15px;
  }

  .eyes.left{ left: 12px; }
  .eyes.right{  right: 12px; }

  .mouth{
    position: absolute;
    height: 4px;
    width: 60%;
    background: #7743de;
    border-radius: 0 0 30% 30%;
    top: 28px;
    margin: auto;
    left: 0; right: 0;
  }
}