[data-rsn-container] {
  position: fixed;
  z-index: 1000;
  display: flex;
  max-height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  pointer-events: none;
  flex-direction: column;
  width: 100%;
  left: 0;
  padding: var(--rsn-container-padding, 10px);
  gap: var(--rsn-container-gap, 10px);
}

[data-rsn-container][data-alignment='top-left'] {
  align-items: flex-start;
  top: 0;
}

[data-rsn-container][data-alignment='top-left'][data-reverse='true'] {
  flex-direction: column-reverse;
}

[data-rsn-container][data-alignment='top-right'] {
  align-items: flex-end;
  top: 0;
}

[data-rsn-container][data-alignment='top-right'][data-reverse='true'] {
  flex-direction: column-reverse;
}

[data-rsn-container][data-alignment='bottom-left'] {
  flex-direction: column-reverse;
  align-items: flex-start;
  bottom: 0;
}

[data-rsn-container][data-alignment='bottom-left'][data-reverse='true'] {
  flex-direction: column;
}

[data-rsn-container][data-alignment='bottom-right'] {
  flex-direction: column-reverse;
  align-items: flex-end;
  bottom: 0;
}

[data-rsn-container][data-alignment='bottom-right'][data-reverse='true'] {
  flex-direction: column;
}

[data-rsn-container][data-alignment='top-center'] {
  align-items: center;
  top: 0;
}

[data-rsn-container][data-alignment='top-center'][data-reverse='true'] {
  flex-direction: column-reverse;
}

[data-rsn-container][data-alignment='bottom-center'] {
  align-items: center;
  flex-direction: column-reverse;
  bottom: 0;
}

[data-rsn-container][data-alignment='bottom-center'][data-reverse='true'] {
  flex-direction: column;
}

[data-rsn-container] [data-rsn-notify] {
  pointer-events: auto;
}
