name: npm-publish
on:
  push:
    branches:
      - main
jobs:
  npm-publish:
    name: npm-publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install # Или npm install, если вы используете npm
      - name: Build
        run: yarn build # Или npm run build, ваша команда сборки
      - name: Publish if version has been updated
        uses: pascalgn/npm-publish-action@1.3.9
        with:
          publish_command: yarn
          publish_args: --non-interactive
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}